In [86]:
##Import the necessary Packages/ Libraries
import pandas as pd
import numpy as np
import csv as csv

In [36]:
##Import the three sources into Pandas DF to start anlyze them
listing_original_df = pd.read_csv("E:\AirbnbDATASET\Listings\listings.csv")

E:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (94) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [89]:
listing_original_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,https://www.airbnb.com/rooms/2818,20190808195507,2019-08-09,Quiet Garden View Room & Super Fast WiFi,Quiet Garden View Room & Super Fast WiFi,I'm renting a bedroom (room overlooking the ga...,Quiet Garden View Room & Super Fast WiFi I'm r...,none,"Indische Buurt (""Indies Neighborhood"") is a ne...",...,t,f,strict_14_with_grace_period,f,f,1,0,1,0,2.12
1,20168,https://www.airbnb.com/rooms/20168,20190808195507,2019-08-09,Studio with private bathroom in the centre 1,"Cozy studio on your own private floor, 100% in...",For those who like all facets of city life. In...,"Cozy studio on your own private floor, 100% in...",none,Located just in between famous central canals....,...,f,f,strict_14_with_grace_period,f,f,2,0,2,0,2.46
2,25428,https://www.airbnb.com/rooms/25428,20190808195507,2019-08-09,Lovely apt in City Centre (w.lift) near Jordaan,NaN,"This nicely furnished, newly renovated apt is...","This nicely furnished, newly renovated apt is...",none,NaN,...,f,f,strict_14_with_grace_period,f,f,2,2,0,0,0.16
3,27886,https://www.airbnb.com/rooms/27886,20190808195507,2019-08-09,"Romantic, stylish B&B houseboat in canal district",Stylish and romantic houseboat on fantastic hi...,For a romantic couple: A beautifully restored ...,Stylish and romantic houseboat on fantastic hi...,none,"Central, quiet, safe, clean and beautiful.",...,t,f,strict_14_with_grace_period,f,f,1,0,1,0,2.11
4,28871,https://www.airbnb.com/rooms/28871,20190808195507,2019-08-09,Comfortable double room,NaN,In a monumental house right in the center of A...,In a monumental house right in the center of A...,none,NaN,...,f,f,moderate,f,f,3,0,3,0,2.59

In [39]:
Calendar_original_df = pd.read_csv("E:\AirbnbDATASET\Calendar\calendar.csv")

In [40]:
Calendar_original_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,169356,2019-08-09,f,$180.00,$171.00,7.0,13.0
1,2818,2019-08-09,f,$59.00,$59.00,3.0,15.0
2,2818,2019-08-10,f,$59.00,$59.00,3.0,15.0
3,2818,2019-08-11,f,$59.00,$59.00,3.0,15.0
4,2818,2019-08-12,f,$59.00,$59.00,3.0,15.0

In [41]:
Reviews_original_df = pd.read_csv("E:/AirbnbDATASET/Reviews/reviews.csv")

In [42]:
Reviews_original_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [43]:
listing_original_df.count()

id                                              20677
listing_url                                     20677
scrape_id                                       20677
last_scraped                                    20677
name                                            20642
summary                                         20048
space                                           15255
description                                     20458
experiences_offered                             20677
neighborhood_overview                           14093
notes                                            9154
transit                                         14375
access                                          12209
interaction                                     12689
house_rules                                     12794
thumbnail_url                                       0
medium_url                                          0
picture_url                                     20677
xl_picture_url                                      0
host_id                                         20677
host_url                                        20677
host_name                                       20665
host_since                                      20665
host_location                                   20628
host_about                                      12077
host_response_time                              12136
host_response_rate                              12136
host_acceptance_rate                                0
host_is_superhost                               20665
host_thumbnail_url                              20665
                                                ...
has_availability                                20677
availability_30                                 20677
availability_60                                 20677
availability_90                                 20677
availability_365                                20677
calendar_last_scraped                           20677
number_of_reviews                               20677
number_of_reviews_ltm                           20677
first_review                                    18084
last_review                                     18084
review_scores_rating                            17861
review_scores_accuracy                          17850
review_scores_cleanliness                       17852
review_scores_checkin                           17840
review_scores_communication                     17847
review_scores_location                          17842
review_scores_value                             17842
requires_license                                20677
license                                            25
jurisdiction_names                              20640
instant_bookable                                20677
is_business_travel_ready                        20677
cancellation_policy                             20676
require_guest_profile_picture                   20677
require_guest_phone_verification                20677
calculated_host_listings_count                  20677
calculated_host_listings_count_entire_homes     20677
calculated_host_listings_count_private_rooms    20677
calculated_host_listings_count_shared_rooms     20677
reviews_per_month                               18084
Length: 106, dtype: int64

In [44]:
Calendar_original_df.count()

listing_id        7547198
date              7547198
available         7547198
price             7547198
adjusted_price    7547198
minimum_nights    7547192
maximum_nights    7547192
dtype: int64

In [45]:
Reviews_original_df.count()

listing_id       481574
id               481574
date             481574
reviewer_id      481574
reviewer_name    481574
comments         481370
dtype: int64

#### Assessing Phase

###### Quality Issues:
Based on the concepts of good quality data which are: Completeness, validity, accuracy, consistency. This dataset should be cleaned from the mentioned below issues.

For **Listing Dataframe**: </br>

1- Extract the needed columns only. </br>

2- Correct all listings with missing values in the extracted columns to the following Columns/Values: </br>

- **host_name**: "Not Provided" </br> 

- **host_since**: "Not Provided" </br> 

- **host_response_time**: "Not Provided" </br> 

- **host_is_superhost**: "Not Provided" </br> 

- **host_total_listings_count**: "0" </br> 

- **host_identity_verified**: "Not Provided" </br> 

- **review_scores_rating**: "0" </br> 

- **Cancellation_policy**: "No Cancellation Policy provided" </br> 

- **reviews_per_month**: "0" </br> 

- **host_identity_verified**: "f" </br> 

For **Reviews Dataframe**:

1- Correct all rows with Null values in Comments column to have "No Comment Provided". </br>



###### Tidiness Issues:

For **Calendar Dataframe**: </br>

1- Change the datatype of **Date** column to be "DataTime" column instead of "Object" column. </br>

2- Change the datatype of **Price, Adjusted_Price, Maximum_Nights, Minimum_Nights** column to be "DataTime" column instead of **"Object"** column. </br>

In [144]:
listing_original_df_clean = listing_original_df.copy()

In [145]:
listing_original_df_clean = listing_original_df[['id','host_id','host_url','host_name','host_since','host_response_time'
                                                 ,'host_is_superhost','host_total_listings_count','neighbourhood','property_type','room_type'
                                                 ,'beds','guests_included','number_of_reviews','review_scores_rating','cancellation_policy'
                                                 , 'reviews_per_month','host_identity_verified']]

In [146]:
listing_original_df_clean.head()

,id,host_id,host_url,host_name,host_since,host_response_time,host_is_superhost,host_total_listings_count,neighbourhood,property_type,room_type,beds,guests_included,number_of_reviews,review_scores_rating,cancellation_policy,reviews_per_month,host_identity_verified
0,2818,3159,https://www.airbnb.com/users/show/3159,Daniel,2008-09-24,within an hour,t,1.0,Indische Buurt,Apartment,Private room,2.0,1,267,98.0,strict_14_with_grace_period,2.12,f
1,20168,59484,https://www.airbnb.com/users/show/59484,Alexander,2009-12-02,within an hour,f,2.0,Grachtengordel,Townhouse,Private room,1.0,2,283,88.0,strict_14_with_grace_period,2.46,f
2,25428,56142,https://www.airbnb.com/users/show/56142,Joan,2009-11-20,within an hour,f,2.0,Grachtengordel,Apartment,Entire home/apt,1.0,2,3,100.0,strict_14_with_grace_period,0.16,f
3,27886,97647,https://www.airbnb.com/users/show/97647,Flip,2010-03-23,within an hour,t,1.0,Westelijke Eilanden,Houseboat,Private room,1.0,1,195,99.0,strict_14_with_grace_period,2.11,t
4,28871,124245,https://www.airbnb.com/users/show/124245,Edwin,2010-05-13,within an hour,t,3.0,Amsterdam Centrum,Apartment,Private room,1.0,1,283,97.0,moderate,2.59,t

In [147]:
listing_original_df_clean = listing_original_df_clean.fillna({'name':"Not Provided",'house_rules':"Not Provided"})

In [149]:
listing_original_df_clean.head()

,id,host_id,host_url,host_name,host_since,host_response_time,host_is_superhost,host_total_listings_count,neighbourhood,property_type,room_type,beds,guests_included,number_of_reviews,review_scores_rating,cancellation_policy,reviews_per_month,host_identity_verified
0,2818,3159,https://www.airbnb.com/users/show/3159,Daniel,2008-09-24,within an hour,t,1.0,Indische Buurt,Apartment,Private room,2.0,1,267,98.0,strict_14_with_grace_period,2.12,f
1,20168,59484,https://www.airbnb.com/users/show/59484,Alexander,2009-12-02,within an hour,f,2.0,Grachtengordel,Townhouse,Private room,1.0,2,283,88.0,strict_14_with_grace_period,2.46,f
2,25428,56142,https://www.airbnb.com/users/show/56142,Joan,2009-11-20,within an hour,f,2.0,Grachtengordel,Apartment,Entire home/apt,1.0,2,3,100.0,strict_14_with_grace_period,0.16,f
3,27886,97647,https://www.airbnb.com/users/show/97647,Flip,2010-03-23,within an hour,t,1.0,Westelijke Eilanden,Houseboat,Private room,1.0,1,195,99.0,strict_14_with_grace_period,2.11,t
4,28871,124245,https://www.airbnb.com/users/show/124245,Edwin,2010-05-13,within an hour,t,3.0,Amsterdam Centrum,Apartment,Private room,1.0,1,283,97.0,moderate,2.59,t

In [150]:
listing_original_df_clean = listing_original_df_clean.fillna({'host_name':"Not Provided",'host_since':"1990-01-01",'host_response_time':"Not Provided",
                                                             'host_is_superhost':"Not Provided", 'host_total_listings_count':"0.0",'review_scores_rating': "0.0",
                                                              'cancellation_policy':"No Cancellation Policy provided", 'reviews_per_month':"0.0", 'host_identity_verified':"f"})

In [120]:
calendar_original_df_clean = Calendar_original_df.copy()

In [121]:
calendar_original_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7547198 entries, 0 to 7547197
Data columns (total 7 columns):
listing_id        int64
date              object
available         object
price             object
adjusted_price    object
minimum_nights    float64
maximum_nights    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 403.1+ MB

In [122]:
calendar_original_df_clean['date'] = pd.to_datetime(calendar_original_df_clean['date'], format= '%Y-%m-%d')

#### Convert The data types of Price, Adjusted_price, Maximum_nights, Minimum_Nights to be Integer.

In [123]:
##Start to convert Price Column
calendar_original_df_clean['price'] = calendar_original_df_clean['price'].str.replace("$","")
calendar_original_df_clean['price'] = pd.to_numeric(calendar_original_df_clean['price'],errors='coerce')
calendar_original_df_clean['price'] = calendar_original_df_clean['price'].fillna(value=0)
calendar_original_df_clean['price'] = calendar_original_df_clean['price'].astype(np.int64)

In [124]:
##Convert Adjusted_Price Column
calendar_original_df_clean['adjusted_price'] = calendar_original_df_clean['adjusted_price'].str.replace("$","")
calendar_original_df_clean['adjusted_price'] = pd.to_numeric(calendar_original_df_clean['adjusted_price'],errors='coerce')
calendar_original_df_clean['adjusted_price'] = calendar_original_df_clean['adjusted_price'].fillna(value=0)
calendar_original_df_clean['adjusted_price'] = calendar_original_df_clean['adjusted_price'].astype(np.int64)

In [125]:
##Convert Maximum_Nights Column
calendar_original_df_clean['maximum_nights'] = pd.to_numeric(calendar_original_df_clean['maximum_nights'],errors='coerce')
calendar_original_df_clean['maximum_nights'] = calendar_original_df_clean['maximum_nights'].fillna(value=0)
calendar_original_df_clean['maximum_nights'] = calendar_original_df_clean['maximum_nights'].astype(np.int64)

In [126]:
##Convert Minimum_Nights Column
calendar_original_df_clean['minimum_nights'] = pd.to_numeric(calendar_original_df_clean['minimum_nights'],errors='coerce')
calendar_original_df_clean['minimum_nights'] = calendar_original_df_clean['minimum_nights'].fillna(value=0)
calendar_original_df_clean['minimum_nights'] = calendar_original_df_clean['minimum_nights'].astype(np.int64)

In [127]:
calendar_original_df_clean.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,169356,2019-08-09,f,180,171,7,13
1,2818,2019-08-09,f,59,59,3,15
2,2818,2019-08-10,f,59,59,3,15
3,2818,2019-08-11,f,59,59,3,15
4,2818,2019-08-12,f,59,59,3,15

In [128]:
calendar_original_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7547198 entries, 0 to 7547197
Data columns (total 7 columns):
listing_id        int64
date              datetime64[ns]
available         object
price             int64
adjusted_price    int64
minimum_nights    int64
maximum_nights    int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 403.1+ MB

In [156]:
reviews_original_df_clean = Reviews_original_df.copy()

In [157]:
reviews_original_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481574 entries, 0 to 481573
Data columns (total 6 columns):
listing_id       481574 non-null int64
id               481574 non-null int64
date             481574 non-null object
reviewer_id      481574 non-null int64
reviewer_name    481574 non-null object
comments         481370 non-null object
dtypes: int64(3), object(3)
memory usage: 22.0+ MB

In [131]:
reviews_original_df_clean['date'] = pd.to_datetime(reviews_original_df_clean['date'], format= '%Y-%m-%d')

In [132]:
reviews_original_df_clean.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [159]:
reviews_original_df_clean = reviews_original_df_clean[['listing_id','id','date','reviewer_id','reviewer_name','comments']]

In [160]:
reviews_original_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481574 entries, 0 to 481573
Data columns (total 6 columns):
listing_id       481574 non-null int64
id               481574 non-null int64
date             481574 non-null object
reviewer_id      481574 non-null int64
reviewer_name    481574 non-null object
comments         481370 non-null object
dtypes: int64(3), object(3)
memory usage: 22.0+ MB

In [151]:
listing_original_df_clean.to_csv(r'E:\listings_clean.csv', index=False, escapechar='\\', quoting=csv.QUOTE_ALL,header=False)

In [154]:
calendar_original_df_clean.to_csv(r'E:\calendars_clean.csv', index=False, escapechar='\\', quoting=csv.QUOTE_ALL,header=False)

In [161]:
reviews_original_df_clean.to_csv(r'E:\reviews_clean.csv', index=False, escapechar='\\', quoting=csv.QUOTE_ALL, header=False)